---
import TagLink from "../TagLink.astro";

const { tags } = Astro.props;
---

<ul class="mt-2 flex gap-2 flex-wrap">
  {
    tags.map((tag) => (
      <li>
        <TagLink title={tag.title} slug={tag.slug.current} color={tag.color} />
      </li>
    ))
  }
</ul>
