---
import { getAllPosts } from "../../lib/sanity";
import BlogPostCard from "./BlogPostCard.astro";

const allPosts = await getAllPosts();
---

<ul class="container mt-10 flex flex-col gap-6 gallery">
  {
    allPosts.map((post) => (
      <li>
        <BlogPostCard post={post} />
      </li>
    ))
  }
</ul>
