---
import { urlForImage } from "../../lib/sanityImageUrlBuilder";

const { illustration } = Astro.props;
const image = urlForImage(illustration.image).width(640).fit("max").url();
---

<a
  class="ps-image"
  href={image}
  data-pswp-src={image}
  data-pswp-width={640}
  data-pswp-height={640 / illustration.size.aspectRatio}
  target="_blank"
>
  <img class="" src={image} alt="" />
</a>
