---
import BlogPostCard from "./BlogPostCard.astro";

const { posts } = Astro.props;
---

<ul class="flex flex-col gap-8">
  {
    posts.map((post) => (
      <li>
        <BlogPostCard post={post} />
      </li>
    ))
  }
</ul>
