---
import risoColorClasses from "../../utility/risoColorClasses";

const { tags } = Astro.props;
---

<ul class="mt-2 flex gap-2">
  {
    tags.map((tag) => (
      <li
        class:list={["text-white w-fit px-3", risoColorClasses[tag.color].bg]}
      >
        <a href={`/tags/${tag.slug.current}`}>{tag.title}</a>
      </li>
    ))
  }
</ul>
