---
import { getAllPosts } from "../../lib/sanity";
import BlogPostCard from "./BlogPostCard.astro";

const allPosts = await getAllPosts();
---

<ul class="container mt-10 px-10 flex flex-col gap-8 items-center">
  {
    allPosts.map((post) => (
      <li class="w-fit">
        <BlogPostCard post={post} />
      </li>
    ))
  }
</ul>
