---
import BlogPostCard from "./BlogPostCard.astro";

const { posts } = Astro.props;
---

<ul class="container mt-10 px-10 flex flex-col gap-8 items-center">
  {
    posts.map((post) => (
      <li class="w-fit">
        <BlogPostCard post={post} />
      </li>
    ))
  }
</ul>
