---
import GalleryImage from "../../components/GalleryImage.astro";
import PaginationNav from "../../components/PaginationNav.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllIllustrations } from "../../lib/sanity";

export async function getStaticPaths({ paginate }) {
  const allIllustrations = await getAllIllustrations();

  allIllustrations.map((illustration) => {
    return {
      props: { illustration },
    };
  });
  return paginate(allIllustrations, { pageSize: 30 });
}

const { page } = Astro.props;
---

<MainLayout>
  <ul
    class="mt-6 mx-16 columns-1 md:columns-2 lg:columns-3 xl:columns-4 gallery"
  >
    {
      page.data.map((i) => (
        <li class="mb-5">
          <GalleryImage illustration={i} />
        </li>
      ))
    }
  </ul>
  <PaginationNav {page} />
</MainLayout>
