---
const year = new Date().getFullYear();
---

<footer class="mt-auto">
  <p class="copywrite">
    <span>Copyright &copy; {year} Arlin Ortiz.&nbsp;</span>
    <span>All Rights Reserved.&nbsp;</span>
  </p>
</footer>
