---
const year = new Date().getFullYear();
---

<footer class="text-center text-riso-green text-xs md:text-sm mt-auto">
  <p>Copyright &copy; {year} Arlin Ortiz.&nbsp;</p>
  <p>All Rights Reserved.&nbsp;</p>
</footer>
