---
const year = new Date().getFullYear();
---

<footer class="text-center text-riso-blue py-3 text-xs md:text-sm mt-auto">
  <p>
    Copyright &copy; {year}
    <span class="text-riso-red">Arlin Ortiz</span>. All Rights Reserved.
  </p>
</footer>
