---
---

<button id="hamburger" class="md:hidden focus:outline-none space-y-2">
  <span class="block w-8 h-0.5 bg-riso-red"></span>
  <span class="block w-8 h-0.5 bg-riso-red"></span>
  <span class="block w-8 h-0.5 bg-riso-red"></span>
</button>
