---
import { getSiteSettings } from "../lib/sanity";
import HamburgerMenu from "./HamburgerMenu.astro";
import NavBar from "./NavBar.astro";

const settings = await getSiteSettings();
---

<header class="container mx-auto pt-5 bg-white sticky top-0">
  <div class="flex flex-col-reverse justify-between gap-4 md:block">
    <NavBar />
    <div class="flex justify-between gap-5 md:block">
      <h1
        class="text-riso-red text-lg font-semibold uppercase md:mt-2 md:font-bold md:text-3xl md:text-center"
      >
        {settings.title}
      </h1>
      <HamburgerMenu />
    </div>
  </div>
  <div class="mt-6 border-b-2 border-riso-yellow"></div>
</header>
