---
import { getSiteSettings } from "../lib/sanity";
import NavBar from "./NavBar.astro";

const settings = await getSiteSettings();
---

<header class="container mx-auto">
  <NavBar />
  <h1
    class="text-riso-red text-lg font-semibold uppercase md:font-bold md:text-3xl md:text-center"
  >
    {settings.title}
  </h1>
  <div class="mt-6 border-b-2 border-riso-yellow"></div>
</header>
