---
import HamburgerMenu from "./HamburgerMenu.astro";
import NavBarLink from "./NavBarLink.astro";
---

<nav id="nav-menu" class="hidden md:block">
  <ul
    class="container mx-auto text-riso-blue text-center bg-white gap-6 flex flex-col md:flex-row md:justify-center"
  >
    <li><NavBarLink href="/">Home</NavBarLink></li>
    <li><NavBarLink href="/blog/">Blog</NavBarLink></li>
    <li><NavBarLink href="/gallery/">Gallery</NavBarLink></li>
    <li><NavBarLink href="/about/">About</NavBarLink></li>
  </ul>
</nav>
