---
const { page } = Astro.props;
const prevUrl = page.url.prev;
const nextUrl = page.url.next;
const currentPage = page.currentPage;
---

<div class="mb-10 mx-auto flex gap-5">
  {prevUrl && <a href={prevUrl}>Previous Page</a>}
  <span>{currentPage}</span>
  {nextUrl && <a href={nextUrl}>Next Page</a>}
</div>
