---
import risoColorClasses from "../utility/risoColorClasses";
const { color, slug, title } = Astro.props;
---

<a
  class:list={["block text-white px-3 py-1", risoColorClasses[color].bg]}
  href={`${slug}`}
>
  {title}
</a>
