---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
---

<html class="font-display" lang="en">
  <BaseHead />
  <body class="container mx-auto max-w-2xl">
    <NavBar />
    <slot />
  </body>
</html>
