---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
---

<html class="font-display" lang="en">
  <BaseHead />
  <body class="container lg mx-auto">
    <Header />
    <slot />
    <script>
      import "../lib/photoSwipe";
      import "photoswipe/style.css";
    </script>
  </body>
</html>
