---
import MainLayout from "../layouts/MainLayout.astro";
import { getAllPosts, getSiteSettings } from "../lib/sanity";
import { urlForImage } from "../lib/sanityImageUrlBuilder";
const settings = await getSiteSettings();
const allPosts = await getAllPosts();

const risoColors = {
  red: "border-riso-red",
  green: "border-riso-green",
  blue: "border-riso-blue",
  purple: "border-riso-purple",
};
---

<MainLayout>
  <h1
    class="mt-4 text-6xl text-riso-red font-bold font-display uppercase text-center"
  >
    {settings.title}
  </h1>
  <div class="mt-6 border-b-2 border-riso-yellow"></div>
  <p>{settings.description}</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <h2>{post.title}</h2>
          <img
            class:list={["border-l-16", "bg-riso-red", risoColors[post.color]]}
            loading="lazy"
            src={urlForImage(post.images[0]).width(300).auto("format").url()}
            alt={post.images[0].altText}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
