---
import BlogFeed from "../../components/blog/BlogFeed.astro";
import BlogPagination from "../../components/blog/BlogPagination.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllPosts } from "../../lib/sanity";

export async function getStaticPaths({ paginate }) {
  const posts = await getAllPosts();
  posts.map((post) => {
    return {
      params: { slug: post.slug.current },
      props: { post },
    };
  });
  return paginate(posts, { pageSize: 3 });
}

const { page } = Astro.props;
console.log(page);
---

<MainLayout>
  <h2>blog</h2>
  <BlogFeed posts={page.data} />
  <BlogPagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</MainLayout>
