---
import BlogFeed from "../../components/blog/BlogFeed.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllPosts } from "../../lib/sanity";

const posts = await getAllPosts();
---

<MainLayout>
  <h2>blog</h2>
  <BlogFeed posts={posts} />
</MainLayout>
