---
import BlogFeed from "../../components/blog/BlogFeed.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { allCatagories, allPosts } from "../../lib/sanity"; //change to tag
export async function getStaticPaths() {
  return allCatagories.map((catagory) => {
    return {
      params: { catagory: catagory.slug.current },
      props: { catagory },
    };
  });
}
const { catagory } = Astro.props;
const filteredPosts = allPosts.filter((post) => {
  if (post.catagories) {
    return post.catagories.includes();
  }
  return false;
});
---

<MainLayout>
  <h1>{catagory.title}</h1>
  <BlogFeed posts={filteredPosts} />
</MainLayout>
